stages:
  - check
  - trigger

default:
  interruptible: true

workflow:
  rules:
    - if: $CI_EXTERNAL_PULL_REQUEST_IID

check_branch_existance:
  stage: check
  image: curlimages/curl
  tags: 
    - docker-prod
  script:
    - export TRIGGER_BRANCH=${CI_EXTERNAL_PULL_REQUEST_SOURCE_BRANCH_NAME}
    - | 
      curl -fksSL --fail --silent --show-error --request GET --header \
      "PRIVATE-TOKEN:${TEST_SDK_6_TOKEN}" \
      "${CI_SERVER_URL}/api/v4/projects/7121/repository/branches/${CI_EXTERNAL_PULL_REQUEST_SOURCE_BRANCH_NAME}" \
        || export TRIGGER_BRANCH='master'
    - echo "Going to trigger pipeline on ${TRIGGER_BRANCH} branch in downstream project (id 7121)"
    - ./scripts/generate-child-job.sh
  artifacts:
    paths: 
      - generated-child-job.yml

# All this magic including generate-config.sh is only to pass TRIGGER_BRANCH variable 
# to bridge job (trigger_internal_ci). So far it's impossible in other way
bridge_for_bridge:
  stage: trigger
  trigger:
    include:
      - artifact: generated-child-job.yml
        job: check_branch_existance
    strategy: depend


# # So far environment variables can't be passed to the bridge job. Once it became available we could use following:
# trigger_internal_ci:
#   stage: trigger
#   variables:
#     EXT_PULL_REQUEST_TARGET_BRANCH_NAME: $CI_EXTERNAL_PULL_REQUEST_TARGET_BRANCH_NAME
#     EXT_PULL_REQUEST_SOURCE_BRANCH_NAME: $CI_EXTERNAL_PULL_REQUEST_SOURCE_BRANCH_NAME
#     EXT_PULL_REQUEST_IID: $CI_EXTERNAL_PULL_REQUEST_IID
#     TRIGGER_BRANCH: $TRIGGER_BRANCH
#   trigger:
#     project: zhernovs/test-sdk-6
#     strategy: depend
#     # Until we can use this: https://docs.gitlab.com/ee/ci/variables/README.html#inherit-environment-variables it will fail if no such branch in downstream project
# #    branch: "$TRIGGER_BRANCH"
#     branch: feature-12
#   needs:
#     - job: check_branch_existance
#       artifacts: true  
